<!DOCTYPE html>
<html>
<head>
  <% include ../includes/header.ejs %>
</head>

<body>
  <% include ../includes/nav.ejs %>
<div class="jumbotron text-center">
  <div class="container">
    <h1><%= title %></h1>
    <% for(var i=0; i < names.length; i++) { %>
      <p><%= names[i] %></p>
    <% } %>

    <form method="POST" action="/ta02/addUser">
      <label for="name">Add</label>
      <input type="text" name="name">
      <button type="submit">Submit</button>
    </form>

    <form method="POST" action="/ta02/removeUser">
      <label for="name">Remove</label>
      <input type="text" name="name">
      <button type="submit">Submit</button>
    </form>
  </div>
</div>
<div class="container">
  
</div>


</body>
</html>